<mat-sidenav-container fullscreen>
  <!-- * Menu desplegable -->
  <mat-sidenav #sidenav mode="push">

    <mat-toolbar color="primary">
      <span>Menú</span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <!-- *shift + alt+ flecha direccion hacia abajo -->

      <a routerLink="./list-product" mat-list-item>
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Listado de Productos</span>
      </a>  
      <a routerLink="./add-product" mat-list-item>
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Agregar Product</span>
      </a>
      <!-- <a routerLink="">
      </a> -->
      <a routerLink="./search" mat-list-item>
        <mat-icon mat-list-icon>search</mat-icon>
        <span>Buscar Producto</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- *Fin del Menu desplegable -->

  <!-- *Este es como el navbar -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button>
      Logout
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

