<h1>Nuevo Producto</h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

  <div fxFlex="50" fxLayout="column">

    <!-- *Formulario -->

    <mat-form-field fxLayout.xs="column">
      <mat-label>Nombre del Producto</mat-label>
      <input 
        matInput 
        type="text" 
        required
        [(ngModel)]="producto.title"
      >
    </mat-form-field>

    <!-- *precio y el stock -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

      <mat-form-field fxFlex="100" >
        <mat-label>Precio</mat-label>
        <input 
          matInput 
          type="text" 
          required
          [(ngModel)]="producto.precio"
        >
      </mat-form-field>


      <mat-form-field fxFlex="100">
        <mat-label>Stock</mat-label>
        <input 
          matInput 
          type="text" 
          required
          [(ngModel)]="producto.stock"
        >
      </mat-form-field>
    </div>
    <!-- *Fin de precio y el stock -->

    <mat-form-field fxFlex="100">
      <mat-label>Empresa</mat-label>

      <mat-select [(ngModel)]="producto.empresa" required>
        <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
          {{ empresa.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Imagen Url</mat-label>
      <input 
      matInput 
      type="url" 
      required
      [(ngModel)]="producto.image"
    >
    </mat-form-field>

  </div>

  <!-- *La imagen del producto -->
  <div fxFlex="50" fxLayout="column">
    <img alt="imagen producto">
  
  </div>

   <!-- *Fin de la imagen del producto -->
</div>
